.basicuidemo-color-scheme--adaptive .basicuidemo-color-scheme__50 {
    background-color: var(--theme-adaptive-50);
    color: var(--theme-adaptive-50i);
}
.basicuidemo-color-scheme--adaptive .basicuidemo-color-scheme__100 {
    background-color: var(--theme-adaptive-100);
    color: var(--theme-adaptive-100i);
}
.basicuidemo-color-scheme--adaptive .basicuidemo-color-scheme__200 {
    background-color: var(--theme-adaptive-200);
    color: var(--theme-adaptive-200i);
}
.basicuidemo-color-scheme--adaptive .basicuidemo-color-scheme__300 {
    background-color: var(--theme-adaptive-300);
    color: var(--theme-adaptive-300i);
}
.basicuidemo-color-scheme--adaptive .basicuidemo-color-scheme__400 {
    background-color: var(--theme-adaptive-400);
    color: var(--theme-adaptive-400i);
}
.basicuidemo-color-scheme--adaptive .basicuidemo-color-scheme__500 {
    background-color: var(--theme-adaptive-500);
    color: var(--theme-adaptive-500i);
}
.basicuidemo-color-scheme--adaptive .basicuidemo-color-scheme__600 {
    background-color: var(--theme-adaptive-600);
    color: var(--theme-adaptive-600i);
}
.basicuidemo-color-scheme--adaptive .basicuidemo-color-scheme__700 {
    background-color: var(--theme-adaptive-700);
    color: var(--theme-adaptive-700i);
}
.basicuidemo-color-scheme--adaptive .basicuidemo-color-scheme__800 {
    background-color: var(--theme-adaptive-800);
    color: var(--theme-adaptive-800i);
}
.basicuidemo-color-scheme--adaptive .basicuidemo-color-scheme__900 {
    background-color: var(--theme-adaptive-900);
    color: var(--theme-adaptive-900i);
}