.basicuidemo-color-scheme--black-extended .basicuidemo-color-scheme__50 {
    background-color: var(--theme-black-extended-50);
    color: var(--theme-black-extended-50i);
}
.basicuidemo-color-scheme--black-extended .basicuidemo-color-scheme__100 {
    background-color: var(--theme-black-extended-100);
    color: var(--theme-black-extended-100i);
}
.basicuidemo-color-scheme--black-extended .basicuidemo-color-scheme__200 {
    background-color: var(--theme-black-extended-200);
    color: var(--theme-black-extended-200i);
}
.basicuidemo-color-scheme--black-extended .basicuidemo-color-scheme__300 {
    background-color: var(--theme-black-extended-300);
    color: var(--theme-black-extended-300i);
}
.basicuidemo-color-scheme--black-extended .basicuidemo-color-scheme__400 {
    background-color: var(--theme-black-extended-400);
    color: var(--theme-black-extended-400i);
}
.basicuidemo-color-scheme--black-extended .basicuidemo-color-scheme__500 {
    background-color: var(--theme-black-extended-500);
    color: var(--theme-black-extended-500i);
}
.basicuidemo-color-scheme--black-extended .basicuidemo-color-scheme__600 {
    background-color: var(--theme-black-extended-600);
    color: var(--theme-black-extended-600i);
}
.basicuidemo-color-scheme--black-extended .basicuidemo-color-scheme__700 {
    background-color: var(--theme-black-extended-700);
    color: var(--theme-black-extended-700i);
}
.basicuidemo-color-scheme--black-extended .basicuidemo-color-scheme__800 {
    background-color: var(--theme-black-extended-800);
    color: var(--theme-black-extended-800i);
}
.basicuidemo-color-scheme--black-extended .basicuidemo-color-scheme__900 {
    background-color: var(--theme-black-extended-900);
    color: var(--theme-black-extended-900i);
}