.basicuidemo-color-scheme--black .basicuidemo-color-scheme__50 {
    background-color: var(--theme-black-50);
    color: var(--theme-black-50i);
}
.basicuidemo-color-scheme--black .basicuidemo-color-scheme__100 {
    background-color: var(--theme-black-100);
    color: var(--theme-black-100i);
}
.basicuidemo-color-scheme--black .basicuidemo-color-scheme__200 {
    background-color: var(--theme-black-200);
    color: var(--theme-black-200i);
}
.basicuidemo-color-scheme--black .basicuidemo-color-scheme__300 {
    background-color: var(--theme-black-300);
    color: var(--theme-black-300i);
}
.basicuidemo-color-scheme--black .basicuidemo-color-scheme__400 {
    background-color: var(--theme-black-400);
    color: var(--theme-black-400i);
}
.basicuidemo-color-scheme--black .basicuidemo-color-scheme__500 {
    background-color: var(--theme-black-500);
    color: var(--theme-black-500i);
}
.basicuidemo-color-scheme--black .basicuidemo-color-scheme__600 {
    background-color: var(--theme-black-600);
    color: var(--theme-black-600i);
}
.basicuidemo-color-scheme--black .basicuidemo-color-scheme__700 {
    background-color: var(--theme-black-700);
    color: var(--theme-black-700i);
}
.basicuidemo-color-scheme--black .basicuidemo-color-scheme__800 {
    background-color: var(--theme-black-800);
    color: var(--theme-black-800i);
}
.basicuidemo-color-scheme--black .basicuidemo-color-scheme__900 {
    background-color: var(--theme-black-900);
    color: var(--theme-black-900i);
}