.basicuidemo-themes-overview__adaptive {
    background-color: var(--theme-adaptive-500);
    color: var(--theme-adaptive-500i);
}
.basicuidemo-themes-overview__default {
    background-color: var(--theme-default-500);
    color: var(--theme-default-500i);
}
.basicuidemo-themes-overview__black {
    background-color: var(--theme-black-500);
    color: var(--theme-black-500i);
}
.basicuidemo-themes-overview__black-extended {
    background-color: var(--theme-black-extended-500);
    color: var(--theme-black-extended-500i);
}
.basicuidemo-themes-overview__white {
    background-color: var(--theme-white-500);
    color: var(--theme-white-500i);
}
.basicuidemo-themes-overview__white-extended {
    background-color: var(--theme-white-extended-500);
    color: var(--theme-white-extended-500i);
}
.basicuidemo-themes-overview__default-transparent {
    background-color: var(--theme-default-transparent-500);
    color: var(--theme-default-transparent-500i);
}
.basicuidemo-themes-overview__primary {
    background-color: var(--theme-primary-500);
    color: var(--theme-primary-500i);
}
.basicuidemo-themes-overview__primary-transparent {
    background-color: var(--theme-primary-transparent-500);
    color: var(--theme-primary-transparent-500i);
}
.basicuidemo-themes-overview__warning {
    background-color: var(--theme-warning-500);
    color: var(--theme-warning-500i);
}
.basicuidemo-themes-overview__warning-transparent {
    background-color: var(--theme-warning-transparent-500);
    color: var(--theme-warning-transparent-500i);
}
.basicuidemo-themes-overview__danger {
    background-color: var(--theme-danger-500);
    color: var(--theme-danger-500i);
}
.basicuidemo-themes-overview__danger-transparent {
    background-color: var(--theme-danger-transparent-500);
    color: var(--theme-danger-transparent-500i);
}
