* {
    --basicui-formelement-height: 32px;
    --basicui-formelement-padding: 0 6px;
    --basicui-formelement-font-size: 12px;
    --basicui-formelement-font-weight: 400;
    --basicui-formelement-border-radius: 2px;
}

.basicui-light {
    --basicui-formelement-label-color: var(--theme-black-extended-50);

    --basicui-formelement-background-color: var(--theme-white-100);
    --basicui-formelement-border-color: var(--theme-white-300);
    --basicui-formelement-color: var(--theme-default-50i);
    --basicui-formelement-border-color-hover: var(--theme-primary-transparent-200);
    --basicui-formelement-background-color-hover: var(--theme-primary-transparent-100);
    --basicui-formelement-color-hover: var(--theme-primary-transparent-100i);
    --basicui-formelement-border-color-active: var(--theme-primary-transparent-300);
    --basicui-formelement-background-color-active: var(--theme-primary-transparent-200);
    --basicui-formelement-color-active: var(--theme-primary-transparent-200i);

    --basicui-formelement-error-background-color: var(--basicui-formelement-background-color);
    --basicui-formelement-error-border-color: var(--theme-danger-300);
    --basicui-formelement-error-color: var(--basicui-formelement-color);
    --basicui-formelement-warning-background-color: var(--basicui-formelement-background-color);
    --basicui-formelement-warning-border-color: var(--theme-warning-300);
    --basicui-formelement-warning-color: var(--basicui-formelement-color);
    --basicui-formelement-success-background-color: var(--basicui-formelement-background-color);
    --basicui-formelement-success-border-color: var(--theme-success-500);
    --basicui-formelement-success-color: var(--basicui-formelement-color);
}

.basicui-dark {
    --basicui-formelement-label-color: var(--theme-white-extended-500);

    --basicui-formelement-background-color: var(--theme-black-200);
    --basicui-formelement-border-color: var(--theme-black-50);
    --basicui-formelement-color: var(--theme-black-100i);
    --basicui-formelement-border-color-hover: var(--theme-primary-transparent-300);
    --basicui-formelement-background-color-hover: var(--theme-primary-transparent-100);
    --basicui-formelement-color-hover: var(--theme-primary-transparent-100i);
    --basicui-formelement-border-color-active: var(--theme-primary-transparent-400);
    --basicui-formelement-background-color-active: var(--theme-primary-transparent-200);
    --basicui-formelement-color-active: var(--theme-primary-transparent-200i);

    --basicui-formelement-error-background-color: var(--basicui-formelement-background-color);
    --basicui-formelement-error-border-color: var(--theme-danger-800);
    --basicui-formelement-error-color: var(--basicui-formelement-color);
    --basicui-formelement-warning-background-color: var(--basicui-formelement-background-color);
    --basicui-formelement-warning-border-color: var(--theme-warning-600);
    --basicui-formelement-warning-color: var(--basicui-formelement-color);
    --basicui-formelement-success-background-color: var(--basicui-formelement-background-color);
    --basicui-formelement-success-border-color: var(--theme-success-700);
    --basicui-formelement-success-color: var(--basicui-formelement-color);
}