* {
    --basicui-modal-border-radius: var(--basicui-formelement-border-radius);
    --basicui-modal-header-height: 46px;
    --basicui-modal-padding: 16px;
    --basicui-modal-heading-font-weight: 500;
    --basicui-modal-heading-font-size: 16px;
    --basicui-modal-margin-y: 20px;

    --basicui-modal-border-radius: 6px;
}