@import './button-default.css';
@import './button-primary.css';
@import './button-danger.css';

.basicui-button {
    display: grid;
    grid-auto-flow: column;
    column-gap: 6px;
    justify-content: center;
    align-items: center;

    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    font-size: var(--basicui-button-font-size);
    height: var(--basicui-button-height);
    padding: var(--basicui-button-padding);
    border-radius: var(--basicui-button-border-radius);
    border-width: var(--basicui-button-border-thickness);
    border-style: solid;
    transition: 250ms border-color ease-in-out, 250ms background-color ease-in-out, 250ms color ease-in-out;
}

/* .basicui-button:focus {
    outline-offset: -2px;
    outline: rgb(25, 148, 210) auto 2px;
} */

.basicui-button:disabled {
    opacity: var(--basicui-button-opacity-disabled);
}

.basicui-button svg {
    height: var(--basicui-button-icon-height);
}

@keyframes animate_button_loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}