.basicui-button--theme-success {
    background-color: var(--basicui-bg-success);
    color: var(--basicui-fg-success);
    fill: var(--basicui-fg-success);
    border-color: var(--basicui-bg-success);
  }
  
  .basicui-button--theme-success:hover,
  .basicui-button--theme-success:focus {
    background-color: var(--basicui-bg-success-light);
    color: var(--basicui-fg-success);
    fill: var(--basicui-fg-success);
    border-color: var(--basicui-bg-success-light);
  }
  
  .basicui-dark .basicui-button--theme-success {
    background-color: var(--basicui-bg-success);
    color: var(--basicui-fg-success);
    fill: var(--basicui-fg-success);
    border-color: var(--basicui-bg-success);
  }
  
  .basicui-dark .basicui-button--theme-success:hover,
  .basicui-dark .basicui-button--theme-success:focus {
    background-color: var(--basicui-bg-success-dark);
    color: var(--basicui-fg-success);
    fill: var(--basicui-fg-success);
    border-color: var(--basicui-bg-success-dark);
  }
  
  /* Variant = outline */
  .basicui-button--variant-outline.basicui-button--theme-success {
    background-color: transparent;
    border-color: var(--basicui-bg-success);
    color: var(--theme-black-900);
    fill: var(--theme-black-900);
  }
  
  .basicui-button--variant-outline.basicui-button--theme-success:hover,
  .basicui-button--variant-outline.basicui-button--theme-success:focus {
    background-color: transparent;
    border-color: var(--basicui-bg-success-light);
    color: var(--theme-black-900);
    fill: var(--theme-black-900);
  }
  
  .basicui-dark .basicui-button--variant-outline.basicui-button--theme-success {
    color: var(--theme-white-50);
    fill: var(--theme-white-50);
  }
  
  .basicui-dark
    .basicui-button--variant-outline.basicui-button--theme-success:hover,
  .basicui-dark
    .basicui-button--variant-outline.basicui-button--theme-success:focus {
    border-color: var(--basicui-bg-success-dark);
    color: var(--theme-white-50);
    fill: var(--theme-white-50);
  }
  
  /* Variant = fill */
  .basicui-button--variant-fill.basicui-button--theme-success {
    background-color: transparent;
    border-color: var(--basicui-bg-success);
    color: var(--theme-black-900);
    fill: var(--theme-black-900);
  }
  
  .basicui-button--variant-fill.basicui-button--theme-success:hover,
  .basicui-button--variant-fill.basicui-button--theme-success:focus {
    background-color: var(--basicui-bg-success);
    color: var(--basicui-fg-success);
    fill: var(--basicui-fg-success);
    border-color: var(--basicui-bg-success);
  }
  
  .basicui-dark .basicui-button--variant-fill.basicui-button--theme-success {
    color: var(--theme-white-50);
    fill: var(--theme-white-50);
  }
  
  .basicui-dark .basicui-button--variant-fill.basicui-button--theme-success:hover,
  .basicui-dark
    .basicui-button--variant-fill.basicui-button--theme-success:focus {
      color: var(--basicui-fg-success);
      fill: var(--basicui-fg-success);
  }
  
  /* Variant = transparent */
  .basicui-button--variant-transparent.basicui-button--theme-success {
    background-color: var(--basicui-bg-success-transparent);
    color: #000;
    fill: #000;
    border-color: var(--basicui-bg-success);
  }
  
  .basicui-button--variant-transparent.basicui-button--theme-success:hover,
  .basicui-button--variant-transparent.basicui-button--theme-success:focus {
    background-color: var(--basicui-bg-success-transparent-light);
    color: #000;
    fill: #000;
    border-color: var(--basicui-bg-success);
  }
  
  .basicui-dark
    .basicui-button--variant-transparent.basicui-button--theme-success {
    color: #fff;
    fill: #fff;
  }
  
  .basicui-dark
    .basicui-button--variant-transparent.basicui-button--theme-success:hover,
  .basicui-dark
    .basicui-button--variant-transparent.basicui-button--theme-success:focus {
    background-color: var(--basicui-bg-success-transparent-dark);
    color: #fff;
    fill: #fff;
  }
  
  /* Variant = chroma */
  .basicui-button--variant-chroma.basicui-button--theme-success {
    background-color: var(--basicui-bg-success);
    color: var(--basicui-fg-success);
    fill: var(--basicui-fg-success);
    border-color: var(--basicui-bg-success);
  }
  
  .basicui-button--variant-chroma.basicui-button--theme-success:hover,
  .basicui-button--variant-chroma.basicui-button--theme-success:focus {
    background-color: var(--basicui-bg-primary);
    color: var(--basicui-fg-primary);
    fill: var(--basicui-fg-primary);
    border-color: var(--basicui-bg-primary);
  }
  
  .basicui-dark .basicui-button--variant-chroma.basicui-button--theme-success {
  }
  
  .basicui-dark
    .basicui-button--variant-chroma.basicui-button--theme-success:hover,
  .basicui-dark
    .basicui-button--variant-chroma.basicui-button--theme-success:focus {
  }
  