.basicui-button--theme-default {
    background-color: var(--theme-default-100);
    color: var(--theme-default-100i);
    fill: var(--theme-default-100i);
    border-color: var(--theme-default-100);
}

.basicui-button--theme-default:hover,
.basicui-button--theme-default:focus {
    background-color: var(--theme-default-200);
    color: var(--theme-default-200i);
    fill: var(--theme-default-200i);
    border-color: var(--theme-default-200);
}

.basicui-dark .basicui-button--theme-default {
    background-color: var(--theme-default-600);
    color: var(--theme-default-600i);
    fill: var(--theme-default-600i);
    border-color: var(--theme-default-600);
}

.basicui-dark .basicui-button--theme-default:hover,
.basicui-dark .basicui-button--theme-default:focus {
    background-color: var(--theme-default-500);
    color: var(--theme-default-500i);
    fill: var(--theme-default-500i);
    border-color: var(--theme-default-500);
}

/* Variant = outline */
.basicui-button--variant-outline.basicui-button--theme-default {
    background-color: transparent;
}

.basicui-button--variant-outline.basicui-button--theme-default:hover,
.basicui-button--variant-outline.basicui-button--theme-default:focus {
    background-color: transparent;
    border-color: var(--theme-default-300);
}

.basicui-dark .basicui-button--variant-outline.basicui-button--theme-default {
    background-color: transparent;
}

.basicui-dark .basicui-button--variant-outline.basicui-button--theme-default:hover,
.basicui-dark .basicui-button--variant-outline.basicui-button--theme-default:focus {
    background-color: transparent;
    border-color: var(--theme-default-400);
}


/* Variant = fill */
.basicui-button--variant-fill.basicui-button--theme-default {
    background-color: transparent;
}

.basicui-button--variant-fill.basicui-button--theme-default:hover,
.basicui-button--variant-fill.basicui-button--theme-default:focus {
    background-color: var(--theme-default-200);
    color: var(--theme-default-200i);
    fill: var(--theme-default-200i);
    border-color: var(--theme-default-200);
}

.basicui-dark .basicui-button--variant-fill.basicui-button--theme-default {
    background-color: transparent;
}

.basicui-dark .basicui-button--variant-fill.basicui-button--theme-default:hover,
.basicui-dark .basicui-button--variant-fill.basicui-button--theme-default:focus {
    background-color: var(--theme-default-600);
    color: var(--theme-default-600i);
    fill: var(--theme-default-600i);
    border-color: var(--theme-default-600);
}


/* Variant = transparent */
.basicui-button--variant-transparent.basicui-button--theme-default {
    background-color: var(--theme-default-transparent-200);
    color: var(--theme-default-transparent-200i);
    fill: var(--theme-default-transparent-200i);
    border-color: var(--theme-default-500);
}

.basicui-button--variant-transparent.basicui-button--theme-default:hover,
.basicui-button--variant-transparent.basicui-button--theme-default:focus {
    background-color: var(--theme-default-transparent-400);
    color: var(--theme-default-transparent-400i);
    fill: var(--theme-default-transparent-400i);
    border-color: var(--theme-default-500);
}

.basicui-dark .basicui-button--variant-transparent.basicui-button--theme-default {
    background-color: var(--theme-default-transparent-200);
    color: var(--theme-default-transparent-200i);
    fill: var(--theme-default-transparent-200i);
    border-color: var(--theme-default-500);
}

.basicui-dark .basicui-button--variant-transparent.basicui-button--theme-default:hover,
.basicui-dark .basicui-button--variant-transparent.basicui-button--theme-default:focus {
    background-color: var(--theme-default-transparent-400);
    color: var(--theme-default-transparent-400i);
    fill: var(--theme-default-transparent-400i);
    border-color: var(--theme-default-500);
}