.basicui-button--theme-warning {
    background-color: var(--basicui-bg-warning);
    color: var(--basicui-fg-warning);
    fill: var(--basicui-fg-warning);
    border-color: var(--basicui-bg-warning);
  }
  
  .basicui-button--theme-warning:hover,
  .basicui-button--theme-warning:focus {
    background-color: var(--basicui-bg-warning-light);
    color: var(--basicui-fg-warning);
    fill: var(--basicui-fg-warning);
    border-color: var(--basicui-bg-warning-light);
  }
  
  .basicui-dark .basicui-button--theme-warning {
    background-color: var(--basicui-bg-warning);
    color: var(--basicui-fg-warning);
    fill: var(--basicui-fg-warning);
    border-color: var(--basicui-bg-warning);
  }
  
  .basicui-dark .basicui-button--theme-warning:hover,
  .basicui-dark .basicui-button--theme-warning:focus {
    background-color: var(--basicui-bg-warning-dark);
    color: var(--basicui-fg-warning);
    fill: var(--basicui-fg-warning);
    border-color: var(--basicui-bg-warning-dark);
  }
  
  /* Variant = outline */
  .basicui-button--variant-outline.basicui-button--theme-warning {
    background-color: transparent;
    border-color: var(--basicui-bg-warning);
    color: var(--theme-black-900);
    fill: var(--theme-black-900);
  }
  
  .basicui-button--variant-outline.basicui-button--theme-warning:hover,
  .basicui-button--variant-outline.basicui-button--theme-warning:focus {
    background-color: transparent;
    border-color: var(--basicui-bg-warning-light);
    color: var(--theme-black-900);
    fill: var(--theme-black-900);
  }
  
  .basicui-dark .basicui-button--variant-outline.basicui-button--theme-warning {
    color: var(--theme-white-50);
    fill: var(--theme-white-50);
  }
  
  .basicui-dark
    .basicui-button--variant-outline.basicui-button--theme-warning:hover,
  .basicui-dark
    .basicui-button--variant-outline.basicui-button--theme-warning:focus {
    border-color: var(--basicui-bg-warning-dark);
    color: var(--theme-white-50);
    fill: var(--theme-white-50);
  }
  
  /* Variant = fill */
  .basicui-button--variant-fill.basicui-button--theme-warning {
    background-color: transparent;
    border-color: var(--basicui-bg-warning);
    color: var(--theme-black-900);
    fill: var(--theme-black-900);
  }
  
  .basicui-button--variant-fill.basicui-button--theme-warning:hover,
  .basicui-button--variant-fill.basicui-button--theme-warning:focus {
    background-color: var(--basicui-bg-warning);
    color: var(--basicui-fg-warning);
    fill: var(--basicui-fg-warning);
    border-color: var(--basicui-bg-warning);
  }
  
  .basicui-dark .basicui-button--variant-fill.basicui-button--theme-warning {
    color: var(--theme-white-50);
    fill: var(--theme-white-50);
  }
  
  .basicui-dark .basicui-button--variant-fill.basicui-button--theme-warning:hover,
  .basicui-dark
    .basicui-button--variant-fill.basicui-button--theme-warning:focus {
      color: var(--basicui-fg-warning);
      fill: var(--basicui-fg-warning);
  }
  
  /* Variant = transparent */
  .basicui-button--variant-transparent.basicui-button--theme-warning {
    background-color: var(--basicui-bg-warning-transparent);
    color: #000;
    fill: #000;
    border-color: var(--basicui-bg-warning);
  }
  
  .basicui-button--variant-transparent.basicui-button--theme-warning:hover,
  .basicui-button--variant-transparent.basicui-button--theme-warning:focus {
    background-color: var(--basicui-bg-warning-transparent-light);
    color: #000;
    fill: #000;
    border-color: var(--basicui-bg-warning);
  }
  
  .basicui-dark
    .basicui-button--variant-transparent.basicui-button--theme-warning {
    color: #fff;
    fill: #fff;
  }
  
  .basicui-dark
    .basicui-button--variant-transparent.basicui-button--theme-warning:hover,
  .basicui-dark
    .basicui-button--variant-transparent.basicui-button--theme-warning:focus {
    background-color: var(--basicui-bg-warning-transparent-dark);
    color: #fff;
    fill: #fff;
  }
  
  /* Variant = chroma */
  .basicui-button--variant-chroma.basicui-button--theme-warning {
    background-color: var(--basicui-bg-warning);
    color: var(--basicui-fg-warning);
    fill: var(--basicui-fg-warning);
    border-color: var(--basicui-bg-warning);
  }
  
  .basicui-button--variant-chroma.basicui-button--theme-warning:hover,
  .basicui-button--variant-chroma.basicui-button--theme-warning:focus {
    background-color: var(--basicui-bg-primary);
    color: var(--basicui-fg-primary);
    fill: var(--basicui-fg-primary);
    border-color: var(--basicui-bg-primary);
  }
  
  .basicui-dark .basicui-button--variant-chroma.basicui-button--theme-warning {
  }
  
  .basicui-dark
    .basicui-button--variant-chroma.basicui-button--theme-warning:hover,
  .basicui-dark
    .basicui-button--variant-chroma.basicui-button--theme-warning:focus {
  }
  