.basicui-input {
    /* padding: 6px 6px; */
    width: 100%;
    padding: var(--basicui-formelement-padding);
    line-height: 1.5;
    height: var(--basicui-formelement-height);
    font-size: var(--basicui-formelement-font-size);
    font-weight: var(--basicui-formelement-font-weight);
    text-overflow: ellipsis;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--basicui-formelement-border-radius);
    display: flex;
    align-items: center;
    transition: 250ms border-color ease-in-out, 250ms background-color ease-in-out, 250ms color ease-in-out;
}

.basicui-input {
    border-color: var(--basicui-formelement-border-color);
    background-color: var(--basicui-formelement-background-color);
    color: var(--basicui-formelement-color);
}

.basicui-input--error {
    border-color: var(--basicui-formelement-error-border-color);
    background-color: var(--basicui-formelement-error-background-color);
    color: var(--basicui-formelement-error-color);
}

.basicui-input--warning {
    border-color: var(--basicui-formelement-warning-border-color);
    background-color: var(--basicui-formelement-warning-background-color);
    color: var(--basicui-formelement-warning-color);
}

.basicui-input--success {
    border-color: var(--basicui-formelement-success-border-color);
    background-color: var(--basicui-formelement-success-background-color);
    color: var(--basicui-formelement-success-color);
}

.basicui-input:hover,
.basicui-dark .basicui-input:hover {
    border-color: var(--basicui-formelement-border-color-hover);
    background-color: var(--basicui-formelement-background-color-hover);
    color: var(--basicui-formelement-color-hover);
}

.basicui-input:active,
.basicui-input:focus,
.basicui-dark .basicui-input:active,
.basicui-dark .basicui-input:focus {
    border-color: var(--basicui-formelement-border-color-active);
    background-color: var(--basicui-formelement-background-color-active);
    color: var(--basicui-formelement-color-active);
}

.basicui-dark .basicui-input::placeholder {
    color: var(--theme-default-300);
}