@import './link-default.css';
@import './link-primary.css';

.basicui-link {
    font-size: 12px;
    display: inline;
    transition: 250ms color ease-in-out;
    cursor: pointer;
}

.basicui-link svg {
    transition: 250ms fill ease-in-out;
}

.basicui-link>* {
    vertical-align: middle;
}

.basicui-link,
.basicui-link:hover,
.basicui-link:focus,
.basicui-link:active {
    text-decoration: none;
}

.basicui-link svg {
    height: 16px;
    display: inline-block;
    margin-right: 4px;
}

.basicui-link:hover span,
.basicui-link:focus span {
    text-decoration: underline;
}

.basicui-link--no-underline.basicui-link:hover span,
.basicui-link--no-underline.basicui-link:focus span {
    text-decoration: none;
}