/* Common */
.basicui-table thead th {
    border-bottom: 2px solid var(--theme-white-200);
}
.basicui-dark .basicui-table thead th {
    border-bottom: 2px solid var(--theme-black-extended-700);
}

.basicui-table th,
.basicui-table td {
    border-top: 1px solid var(--theme-white-200);
}
.basicui-dark .basicui-table th,
.basicui-dark .basicui-table td {
    border-top: 1px solid var(--theme-black-extended-700);
}

.basicui-table.table-striped tbody tr:nth-of-type(odd),
.basicui-table.table-hover tbody tr:hover {
    background-color: var(--theme-white-100);
    color: var(--theme-white-100i);
}

.basicui-dark .basicui-table.table-striped tbody tr:nth-of-type(odd),
.basicui-dark .basicui-table.table-hover tbody tr:hover {
    background-color: var(--theme-black-extended-800);
    color: var(--theme-black-extended-800i);
}

/* Bordered */
.basicui-table.table-bordered,
.basicui-table.table-bordered th,
.basicui-table.table-bordered td {
    border: 1px solid var(--theme-white-200);
}
.basicui-dark .basicui-table.table-bordered,
.basicui-dark .basicui-table.table-bordered th,
.basicui-dark .basicui-table.table-bordered td {
    border: 1px solid var(--theme-black-extended-700);
}
.basicui-table.table-bordered thead th {
    border-bottom: 2px solid var(--theme-white-200);
}
.basicui-dark .basicui-table.table-bordered thead th {
    border-bottom: 2px solid var(--theme-black-extended-700);
}