.basicui-table.theme-primary.table-inverse {
    background-color: var(--theme-primary-700);
    color: var(--theme-primary-700i);
}

.basicui-dark .basicui-table.theme-primary.table-inverse {
    background-color: var(--theme-primary-500);
    color: var(--theme-primary-500i);
}

.basicui-table.theme-primary.table-inverse th,
.basicui-table.theme-primary.table-inverse td,
.basicui-dark .basicui-table.theme-primary.table-inverse th,
.basicui-dark .basicui-table.theme-primary.table-inverse td {
    border-top: 1px solid var(--theme-white-700);
}

.basicui-table.theme-primary.table-inverse th,
.basicui-dark .basicui-table.theme-primary.table-inverse th {
    border-bottom: 2px solid var(--theme-white-700);
    border-top: none;
}

.basicui-table.theme-primary thead.thead-inverse {
    background-color: var(--theme-primary-700);
    color: var(--theme-primary-700i);
}
.basicui-dark .basicui-table.theme-primary thead.thead-inverse {
    background-color: var(--theme-primary-500);
    color: var(--theme-primary-500i);
}

.basicui-table.theme-primary thead.thead-inverse th {
    border-bottom: none;
    border-top: none;   
}

/* Bordered */
.basicui-table.table-bordered.table-inverse {
    border: none;
}
.basicui-table.table-bordered.table-inverse th,
.basicui-table.table-bordered.table-inverse td {
    border: 1px solid var(--theme-white-700);
}
.basicui-dark .basicui-table.table-bordered.table-inverse {
    border: none;
}
.basicui-dark .basicui-table.table-bordered.table-inverse th,
.basicui-dark .basicui-table.table-bordered.table-inverse td {
    border: 1px solid var(--theme-white-700);
}
.basicui-table.table-bordered.table-inverse thead th {
    border-bottom: 2px solid var(--theme-white-700);
}
.basicui-dark .basicui-table.table-bordered.table-inverse thead th {
    border-bottom: 2px solid var(--theme-white-700);
}