<div class="basicuidemo-color-scheme">
  <div *ngFor="let theme of themes" class="basicuidemo-color-scheme__x"
    [ngClass]="'basicuidemo-themes-overview__' + theme">
    <div class="basicuidemo-color-scheme__x__bg">
      <div class="basicuidemo-color-scheme__x__bg__label">background-color:</div>
      <div class="basicuidemo-color-scheme__x__bg__value">{{ 'var(--theme-' + theme + '-500)' }}</div>
    </div>
    <div class="basicuidemo-color-scheme__x__fg">
      <div class="basicuidemo-color-scheme__x__fg__label">color:</div>
      <div class="basicuidemo-color-scheme__x__fg__value">{{ 'var(--theme-' + theme + '-500i)' }}</div>
    </div>
  </div>
</div>