  /* single-select styles */
  select:hover {
    border-color: var(--basicui-formelement-border-color-hover);
    background-color: var(--basicui-formelement-background-color-hover);
    color: var(--basicui-formelement-color-hover);
  }
  select, input {
    padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--theme-default-50);
  width: 100%;
  outline: none;
  font-size: 11px;
  position: relative;
  text-indent: 5px;
  }
  select[single] {
    position: absolute;
    top: 50px;
    left: 50px;
  }
  option {
    background-color: var(--theme-default-50);
    color: var(--theme-default-50i);
}
  /* Multi-select styles */
  select[multiple] {
    background-color: white;
    height: 30px;
  }
  select[multiple] option{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
  }
  select[multiple] option:hover{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #c3e5f4;
    background-color: #f1f8fe;
  }
  .positioned-select {
    border-color: var(--basicui-formelement-border-color);
    border-radius: 1px;
    background-color: var(--basicui-formelement-background-color);
    font-size: 12px;
    width: 100%;
  }
  .positioned-select[multiple] {
    height: 150px;
  }

  /* auto complete-select styles */
  .auto-select{
    padding: 6px;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid var(--basicui-formelement-border-color);
    background-color: var(--basicui-formelement-background-color);
    width: 100%;
    outline: none;
    color: inherit;
  }
  .auto-select-option {
    padding: 8px 16px;
    cursor: pointer;
    color: var(--theme-default-50i);
  }
  .auto-select:hover {
    border-radius: 3px;
    border-color: var(--basicui-formelement-border-color-hover);
    background-color: var(--basicui-formelement-background-color-hover);
    border-radius: 3px;
  }
  .auto-select::placeholder {
    // color: var(--theme-default-50i);
    color: inherit;
  }

  .basicui-selectnative {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }
  
  .basicui-selectnative__option {
    background-color: var(--theme-default-50);
    color: var(--theme-default-50i);
  }
  
  .basicui-selectnative__option:checked {
    background-color: var(--theme-default-200);
    color: var(--theme-default-200i);
  }
  
  ::ng-deep .basicui-dark .basicui-selectnative__option {
    background-color: var(--theme-default-900);
    color: var(--theme-default-900i);
  }
  
  ::ng-deep .basicui-dark .basicui-selectnative__option:checked {
    background-color: var(--theme-default-700);
    color: var(--theme-default-700i);
  }
  