@import '~material-design-icons/iconfont/material-icons.css';
.link{
    vertical-align: middle;
    display: inline;
    font-size: 12px;
    font-family: system-ui;
    color: #6b6b6b;
    cursor: pointer;
    font-weight: 350;
}
.link:hover{
    text-decoration: underline;
}
.link.default-no-underline{
    text-decoration: none;
}
.link.primary{
    color: #1492db;
    font-size: 13px;
    font-weight: 350;
}
.link.primary-no-glow{
    color: #08609c;
}
.link.primary-no-underline{
    text-decoration: none;
}
.link.primary-no-underline:hover{
    text-decoration: none;
    color: #08609c;
}

.material-icons{
    margin-right: 5px;
    vertical-align: middle;
    font-size: 16px;
}
