.basicui-tabs--theme-default .basicui-tabs__ul__li__button:hover,
.basicui-tabs--theme-default .basicui-tabs__ul__li__button:focus {
    /* background-color: var(--theme-default-transparent-100); */
}

.basicui-tabs--theme-default .basicui-tabs__ul__li--active .basicui-tabs__ul__li__button {
    background-color: var(--theme-default-200);
    color: var(--theme-default-200i);
    fill: var(--theme-default-200i);
    border-color: var(--theme-default-200);
}

.basicui-dark .basicui-tabs--theme-default .basicui-tabs__ul__li--active .basicui-tabs__ul__li__button {
    background-color: var(--theme-default-400);
    color: var(--theme-default-400i);
    fill: var(--theme-default-400i);
    border-color: var(--theme-default-400);
}

/* primary */
.basicui-tabs--theme-primary .basicui-tabs__ul__li--active .basicui-tabs__ul__li__button {
    background-color: var(--theme-primary-400);
    color: var(--theme-primary-50i);
    fill: var(--theme-primary-50i);
    border-color: var(--theme-primary-500);
}

/* DANGER */
.basicui-tabs--theme-danger .basicui-tabs__ul__li--active .basicui-tabs__ul__li__button {
    background-color: var(--theme-danger-500);
    color: var(--theme-danger-500i);
    fill: var(--theme-danger-500i);
    border-color: var(--theme-danger-500);
}

/* secondary */
.basicui-tabs--theme-secondary .basicui-tabs__ul__li--active .basicui-tabs__ul__li__button {
  background-color: var(--basicui-bg-secondary);
  color: var(--basicui-fg-secondary);
  fill: var(--basicui-fg-secondary);
  border-color: var(--basicui-bg-secondary);
}

/* success */
.basicui-tabs--theme-success .basicui-tabs__ul__li--active .basicui-tabs__ul__li__button {
    background-color: var(--basicui-bg-success);
    color: var(--basicui-fg-success);
    fill: var(--basicui-fg-success);
    border-color: var(--basicui-bg-success);
  }

/* warning */
.basicui-tabs--theme-warning .basicui-tabs__ul__li--active .basicui-tabs__ul__li__button {
    background-color: var(--basicui-bg-warning);
    color: var(--basicui-fg-warning);
    fill: var(--basicui-fg-warning);
    border-color: var(--basicui-bg-warning);
  }