@import './style-theme.css';
@import '../styles/index.css';

.basicui-tabs__ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #e4e4e4;
}
.basicui-tabs__ul__li.active .basicui-tabs__ul__li__button{
    background-color: #1492db;
    color: white;
}
.basicui-tabs__ul__li--active .basicui-tabs__ul__li__button{
    background-color: #1492db;
}

.basicui-tabs__ul__li__button:hover,
.basicui-tabs__ul__li__button:focus{
    transition: border-color 250ms ease-in-out, background-color 250ms ease-in-out, color 250ms ease-in-out;
    border-bottom: none;
}
.basicui-tabs__ul__li__button {
    position: relative;
    background-color: transparent;
    border: none;
    color: var(--theme-black-900);
    fill: var(--theme-black-900);
    cursor: pointer;
    padding: var(--basicui-tab-padding-y) var(--basicui-tab-padding-x);
    border: var(--basicui-tab-border-width) solid transparent;
    border-bottom: none;
    border-radius: var(--basicui-tab-border-radius) var(--basicui-tab-border-radius) 0 0;
}
.basicui-dark .basicui-tabs__ul__li__button {
    color: var(--theme-white-50);
    fill: var(--theme-white-50);
}
.basicui-tabs__ul__li__button:hover,
.basicui-tabs__ul__li__button:focus,
.basicui-tabs__ul__li--active .basicui-tabs__ul__li__button {
    border: var(--basicui-tab-border-width) solid var(--basicui-tab-border-color);
    border-bottom: none; 
}

.basicui-tabs--shape-round .basicui-tabs__ul__li__button {
    border-radius: var(--basicui-tab-border-radius);
}

.basicui-tabs--shape-rectangle .basicui-tabs__ul__li__button {
    border-radius: 0px;
}

.basicui-tabs--offset .basicui-tabs__ul__li {
    //margin-right: var(--basicui-tab-offset);
    //margin-bottom: var(--basicui-tab-offset);
    margin: 0;
}
.basicui-tab-header {
    display: grid;
    grid-auto-flow: column;
    column-gap: 6px;
    row-gap: 6px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    font-size: 12px;
}
.basicui-tab-header--alignment-column {
    grid-auto-flow: row;
    column-gap: 10px;
}
.basicui-tab-header * {
    display: flex;
}
.basicui-tabs__ul__li__button .checkmark {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 51%;
    right: 56px;
    transform: translateY(-50%);
}
.basicui-tabs__ul__li.active .checkmark {
    fill: #ffffff;
  }