* {
    --theme-white-extended-900: #8a8a8a;
    --theme-white-extended-800: #909090;
    --theme-white-extended-700: #969696;
    --theme-white-extended-600: #9c9c9c;
    --theme-white-extended-500: #a2a2a2;
    --theme-white-extended-400: #a8a8a8;
    --theme-white-extended-300: #aeaeae;
    --theme-white-extended-200: #b4b4b4;
    --theme-white-extended-100: #bababa;
    --theme-white-extended-50: #c0c0c0;

    --theme-white-extended-900i: #000;
    --theme-white-extended-800i: #000;
    --theme-white-extended-700i: #000;
    --theme-white-extended-600i: #000;
    --theme-white-extended-500i: #000;
    --theme-white-extended-400i: #000;
    --theme-white-extended-300i: #000;
    --theme-white-extended-200i: #000;
    --theme-white-extended-100i: #000;
    --theme-white-extended-50i: #000;
}