* {
    --theme-black-900: #020202;
    --theme-black-800: #080808;
    --theme-black-700: #0e0e0e;
    --theme-black-600: #141414;
    --theme-black-500: #1a1a1a;
    --theme-black-400: #202020;
    --theme-black-300: #262626;
    --theme-black-200: #2c2c2c;
    --theme-black-100: #323232;
    --theme-black-50:  #383838;

    --theme-black-900i: #fff;
    --theme-black-800i: #fff;
    --theme-black-700i: #fff;
    --theme-black-600i: #fff;
    --theme-black-500i: #fff;
    --theme-black-400i: #fff;
    --theme-black-300i: #fff;
    --theme-black-200i: #fff;
    --theme-black-100i: #fff;
    --theme-black-50i:  #fff;
}