* {
    --theme-primary-50: #f0f8ff;
    --theme-primary-100: #e1f0fd;
    --theme-primary-200: #bce1fb;
    --theme-primary-300: #81cbf8;
    --theme-primary-400: #3eb1f2;
    --theme-primary-500: #1492db;
    --theme-primary-600: #0878c1;
    --theme-primary-700: #08609c;
    --theme-primary-800: #0b5181;
    --theme-primary-900: #0f446b;

    --theme-primary-50i: #000;
    --theme-primary-100i: #000;
    --theme-primary-200i: #000;
    --theme-primary-300i: #fff;
    --theme-primary-400i: #fff;
    --theme-primary-500i: #fff;
    --theme-primary-600i: #fff;
    --theme-primary-700i: #fff;
    --theme-primary-800i: #fff;
    --theme-primary-900i: #fff;
}