* {
    --theme-danger-50: #fff1f2;
    --theme-danger-100: #ffe0e3;
    --theme-danger-200: #ffc6cc;
    --theme-danger-300: #ff9ea8;
    --theme-danger-400: #ff6776;
    --theme-danger-500: #fc374b;
    --theme-danger-600: #db1428;
    --theme-danger-700: #c51022;
    --theme-danger-800: #a31120;
    --theme-danger-900: #861621;
    
    --theme-danger-50i: #000;
    --theme-danger-100i: #000;
    --theme-danger-200i: #000;
    --theme-danger-300i: #000;
    --theme-danger-400i: #fff;
    --theme-danger-500i: #fff;
    --theme-danger-600i: #fff;
    --theme-danger-700i: #fff;
    --theme-danger-800i: #fff;
    --theme-danger-900i: #fff;
}