
* {
    --basicui-bg-success: #28a745;
    --basicui-bg-success-light: #2ec04f;
    --basicui-bg-success-dark: #228e3b;
    --basicui-bg-success-muted: #3ac85a;
    --basicui-bg-success-text: #19692b;
    --basicui-bg-success-transparent: #28a74570;
    --basicui-bg-success-transparent-light: #2ec04f70;
    --basicui-bg-success-transparent-dark: #228e3b70;
    --basicui-bg-success-transparent-muted: #3ac85a70;
    --basicui-fg-success: #000000;
  }
  .basicui-dark {
    --basicui-bg-success: #2da248;
    --basicui-bg-success-light: #34ba52;
    --basicui-bg-success-dark: #268a3d;
    --basicui-bg-success-muted: #40c25e;
    --basicui-bg-success-text: #48d368;
    --basicui-bg-success-transparent: #2da24870;
    --basicui-bg-success-transparent-light: #34ba5270;
    --basicui-bg-success-transparent-dark: #268a3d70;
    --basicui-bg-success-transparent-muted: #40c25e70;
    --basicui-fg-success: #000000;
  }
  