* {
    --theme-warning-50: #fdf9e9;
    --theme-warning-100: #fbefc6;
    --theme-warning-200: #f8de90;
    --theme-warning-300: #f3c551;
    --theme-warning-400: #eeac21;
    --theme-warning-500: #db9214;
    --theme-warning-600: #bf700f;
    --theme-warning-700: #994f0f;
    --theme-warning-800: #7f4014;
    --theme-warning-900: #6c3517;

    --theme-warning-50i: #000000;
    --theme-warning-100i: #000000;
    --theme-warning-200i: #000000;
    --theme-warning-300i: #000000;
    --theme-warning-400i: #000000;
    --theme-warning-500i: #000000;
    --theme-warning-600i: #ffffff;
    --theme-warning-700i: #ffffff;
    --theme-warning-800i: #ffffff;
    --theme-warning-900i: #ffffff;
}