.basicui-light {
    --theme-adaptive-900: var(--theme-white-900);
    --theme-adaptive-800: var(--theme-white-800);
    --theme-adaptive-700: var(--theme-white-700);
    --theme-adaptive-600: var(--theme-white-600);
    --theme-adaptive-500: var(--theme-white-500);
    --theme-adaptive-400: var(--theme-white-400);
    --theme-adaptive-300: var(--theme-white-300);
    --theme-adaptive-200: var(--theme-white-200);
    --theme-adaptive-100: var(--theme-white-100);
    --theme-adaptive-50: var(--theme-white-50);

    --theme-adaptive-900i: var(--theme-white-900i);
    --theme-adaptive-800i: var(--theme-white-800i);
    --theme-adaptive-700i: var(--theme-white-700i);
    --theme-adaptive-600i: var(--theme-white-600i);
    --theme-adaptive-500i: var(--theme-white-500i);
    --theme-adaptive-400i: var(--theme-white-400i);
    --theme-adaptive-300i: var(--theme-white-300i);
    --theme-adaptive-200i: var(--theme-white-200i);
    --theme-adaptive-100i: var(--theme-white-100i);
    --theme-adaptive-50i: var(--theme-white-50i);
}

.basicui-dark {
    --theme-adaptive-900: var(--theme-black-extended-700);
    --theme-adaptive-800: var(--theme-black-extended-800);
    --theme-adaptive-700: var(--theme-black-extended-900);
    --theme-adaptive-600: var(--theme-black-100);
    --theme-adaptive-500: var(--theme-black-200);
    --theme-adaptive-400: var(--theme-black-300);
    --theme-adaptive-300: var(--theme-black-400);
    --theme-adaptive-200: var(--theme-black-500);
    --theme-adaptive-100: var(--theme-black-600);
    --theme-adaptive-50: var(--theme-black-700);

    --theme-adaptive-900i: var(--theme-black-700i);
    --theme-adaptive-800i: var(--theme-black-600i);
    --theme-adaptive-700i: var(--theme-black-500i);
    --theme-adaptive-600i: var(--theme-black-400i);
    --theme-adaptive-500i: var(--theme-black-300i);
    --theme-adaptive-400i: var(--theme-black-200i);
    --theme-adaptive-300i: var(--theme-black-100i);
    --theme-adaptive-200i: var(--theme-black-extended-900i);
    --theme-adaptive-100i: var(--theme-black-extended-800i);
    --theme-adaptive-50i: var(--theme-black-extended-700i);
}