* {
    --theme-default-50: #f5f6f6;
    --theme-default-100: #e6e7e7;
    --theme-default-200: #d0d1d1;
    --theme-default-300: #afb1b1;
    --theme-default-400: #86898a;
    --theme-default-500: #696c6d;
    --theme-default-600: #5b5e5f;
    --theme-default-700: #4e5050;
    --theme-default-800: #444546;
    --theme-default-900: #3c3d3d;
    
    --theme-default-50i: #000;
    --theme-default-100i: #000;
    --theme-default-200i: #000;
    --theme-default-300i: #000;
    --theme-default-400i: #fff;
    --theme-default-500i: #fff;
    --theme-default-600i: #fff;
    --theme-default-700i: #fff;
    --theme-default-800i: #fff;
    --theme-default-900i: #fff;
}