* {
    --theme-success-50: #effef4;
    --theme-success-100: #d9ffe5;
    --theme-success-200: #b6fccd;
    --theme-success-300: #7df8a7;
    --theme-success-400: #3deb79;
    --theme-success-500: #14db5a;
    --theme-success-600: #09b044;
    --theme-success-700: #0b8a39;
    --theme-success-800: #0f6c30;
    --theme-success-900: #0e592b;

    --theme-success-50i: #000000;
    --theme-success-100i: #000000;
    --theme-success-200i: #000000;
    --theme-success-300i: #000000;
    --theme-success-400i: #000000;
    --theme-success-500i: #000000;
    --theme-success-600i: #ffffff;
    --theme-success-700i: #ffffff;
    --theme-success-800i: #ffffff;
    --theme-success-900i: #ffffff;
}