* {
    --theme-white-900: #c6c6c6;
    --theme-white-800: #cccccc;
    --theme-white-700: #d2d2d2;
    --theme-white-600: #d8d8d8;
    --theme-white-500: #dedede;
    --theme-white-400: #e4e4e4;
    --theme-white-300: #eaeaea;
    --theme-white-200: #f0f0f0;
    --theme-white-100: #f6f6f6;
    --theme-white-50: #fcfcfc;

    --theme-white-900i: #000;
    --theme-white-800i: #000;
    --theme-white-700i: #000;
    --theme-white-600i: #000;
    --theme-white-500i: #000;
    --theme-white-400i: #000;
    --theme-white-300i: #000;
    --theme-white-200i: #000;
    --theme-white-100i: #000;
    --theme-white-50i: #000;
}