.basicui-light {
    --theme-default-transparent-50: #5b5e5f10;
    --theme-default-transparent-100: #5b5e5f20;
    --theme-default-transparent-200: #5b5e5f30;
    --theme-default-transparent-300: #5b5e5f40;
    --theme-default-transparent-400: #5b5e5f50;
    --theme-default-transparent-500: #5b5e5f60;
    --theme-default-transparent-600: #5b5e5f70;
    --theme-default-transparent-700: #5b5e5f80;
    --theme-default-transparent-800: #5b5e5f90;
    --theme-default-transparent-900: #5b5e5fa0;
    
    --theme-default-transparent-50i: #000;
    --theme-default-transparent-100i: #000;
    --theme-default-transparent-200i: #000;
    --theme-default-transparent-300i: #000;
    --theme-default-transparent-400i: #000;
    --theme-default-transparent-500i: #000;
    --theme-default-transparent-600i: #000;
    --theme-default-transparent-700i: #000;
    --theme-default-transparent-800i: #000;
    --theme-default-transparent-900i: #000;
}