.basicui-dark {
    --theme-danger-transparent-50 : #fc374b10;
    --theme-danger-transparent-100: #fc374b20;
    --theme-danger-transparent-200: #fc374b30;
    --theme-danger-transparent-300: #fc374b40;
    --theme-danger-transparent-400: #fc374b50;
    --theme-danger-transparent-500: #fc374b60;
    --theme-danger-transparent-600: #fc374b70;
    --theme-danger-transparent-700: #fc374b80;
    --theme-danger-transparent-800: #fc374b90;
    --theme-danger-transparent-900: #fc374ba0;
    
    --theme-danger-transparent-50i: #fff;
    --theme-danger-transparent-100i: #fff;
    --theme-danger-transparent-200i: #fff;
    --theme-danger-transparent-300i: #fff;
    --theme-danger-transparent-400i: #fff;
    --theme-danger-transparent-500i: #fff;
    --theme-danger-transparent-600i: #fff;
    --theme-danger-transparent-700i: #fff;
    --theme-danger-transparent-800i: #fff;
    --theme-danger-transparent-900i: #fff;
}