* {
    --theme-primary-50: #90aead;
    --theme-primary-100: #a2bbba;
    --theme-primary-200: #7ea1a0;
    --theme-primary-300: #b1c0bf;
    --theme-primary-400: #668c8a;
    --theme-primary-500: #90aead70;
    --theme-primary-600: #a2bbba70;
    --theme-primary-700: #6c797870;
    --theme-primary-800: #b1c0bf70;
    --theme-primary-900: #000000;

    --theme-primary-50i: #000;
    --theme-primary-100i: #b5bcbc70;
    --theme-primary-200i: #849c9b70;
    --theme-primary-300i: #a6b7b670;
    --theme-primary-400i: #95a9a970;
    --theme-primary-500i: #bccece;
    --theme-primary-600i: #b5bcbc;
    --theme-primary-700i: #849c9b;
    --theme-primary-800i: #a6b7b6;
    --theme-primary-900i: #95a9a9;
}