*{
    --basicui-bg-secondary: #dfaeb4;
    --basicui-bg-secondary-light: #e8c4c8;
    --basicui-bg-secondary-dark: #d698a0;
    --basicui-bg-secondary-muted: #ecd4d7;
    --basicui-bg-secondary-text: #c97781;
    --basicui-bg-secondary-transparent: #dfaeb470;
    --basicui-bg-secondary-transparent-light: #e8c4c870;
    --basicui-bg-secondary-transparent-dark: #d698a070;
    --basicui-bg-secondary-transparent-muted: #ecd4d770;
    --basicui-fg-secondary: #000000;
  }
  .basicui-dark {
    --basicui-bg-secondary: #dcb1b6;
    --basicui-bg-secondary-light: #e6c6ca;
    --basicui-bg-secondary-dark: #d39ca2;
    --basicui-bg-secondary-muted: #ead6d8;
    --basicui-bg-secondary-text: #f5e5e7;
    --basicui-bg-secondary-transparent: #dcb1b670;
    --basicui-bg-secondary-transparent-light: #e6c6ca70;
    --basicui-bg-secondary-transparent-dark: #d39ca270;
    --basicui-bg-secondary-transparent-muted: #ead6d870;
    --basicui-fg-secondary: #000000;
  }
  