* {
    --theme-black-extended-900: #3e3e3e;
    --theme-black-extended-800: #444444;
    --theme-black-extended-700: #4a4a4a;
    --theme-black-extended-600: #505050;
    --theme-black-extended-500: #565656;
    --theme-black-extended-400: #5c5c5c;
    --theme-black-extended-300: #626262;
    --theme-black-extended-200: #686868;
    --theme-black-extended-100: #6e6e6e;
    --theme-black-extended-50: #747474;

    --theme-black-extended-900i: #fff;
    --theme-black-extended-800i: #fff;
    --theme-black-extended-700i: #fff;
    --theme-black-extended-600i: #fff;
    --theme-black-extended-500i: #fff;
    --theme-black-extended-400i: #fff;
    --theme-black-extended-300i: #fff;
    --theme-black-extended-200i: #fff;
    --theme-black-extended-100i: #fff;
    --theme-black-extended-50i: #fff;
}