* {
    --basicui-radio-background-color: none;
}

.basicui-light .basicui-radio--theme-primary,
.basicui-dark .basicui-radio--theme-primary {
    --basicui-radio-border-color: var(--basicui-checkbox-border-color);
    --basicui-radio-dotmark-color: var(--theme-primary-500);
    --basicui-radio-background-color-hover: var(--basicui-checkbox-background-color-hover);
    --basicui-radio-border-color-hover: var(--basicui-checkbox-border-color-hover);
    --basicui-radio-background-color-checked: none;
    --basicui-radio-border-color-checked: var(--basicui-checkbox-border-color-checked);
}

.basicui-dark .basicui-radio--theme-primary {
    --basicui-radio-dotmark-color: var(--theme-primary-400);
}
