label{
    color: rgb(112 112 112 / 97%);
    font-family: system-ui;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 4px;
    text-transform: capitalize;
}
.info-message{
  color: #696c6d;
  font-size: 10px;
  margin-top: 5px;
}
input{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: var(--basicui-formelement-border-radius);
  box-sizing: border-box;
  padding: 0 6px;
  height: 32px;
  font-size: 12px;
  font-weight: 400;
  outline: none;
  color: black;
  margin-top: 4px;
  border-color: var(--basicui-formelement-border-color);
  background-color: var(--basicui-formelement-background-color);
  color: var(--basicui-formelement-color);
}
input:hover{
  border-color: var(--basicui-formelement-border-color-hover);
    background-color: var(--basicui-formelement-background-color-hover);
    color: var(--basicui-formelement-color-hover);
}

  /*.input{
  width: 100%;
  padding: 15px 0px 15px 35px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  &::placeholder {
    font-size: 18px;
    text-align:left;
    
  }
}*/
