<div [ngClass]="['input-container', containerClassName]">
    <div *ngIf="icon"
         class="input-icon-container"
         [style.width.px]="iconContainerWidth">
        <svg-icon [name]="icon"
                  [size]="iconSize">
        </svg-icon>
    </div>
    <div>
        <label [for]="label">{{label}}</label>
        <br>
    </div>
    <input 
        [type]="type"
        [placeholder]="placeholder"
        [ngClass]="['input', 'form-input']" />
        <!--<input type="submit" value="Submit" style="background-color:#04AA6D; padding: 8px 16px; color: white; font-size: 25px; border: 1px solid #ccc; border-radius: 4px;"> -->

    <div *ngIf="isShowClearButton"
         class="input-icon-container right"
         [style.width.px]="iconContainerWidth">
        <i nz-icon
           nzType="close"
           nzTheme="outline"
           (click)="clear()"></i>
    </div>
</div>
<div *ngIf="isInfo" class="info-message">{{ infoMessage }}</div>