// @import '../styles/index.css';

.basicui-checkbox {
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.basicui-checkbox__input {
  appearance: none;
  margin: 0;
  padding: 0;
  width: var(--basicui-checkbox-height);
  height: var(--basicui-checkbox-height);
  border: var(--basicui-checkbox-border-thickness) solid var(--basicui-checkbox-border-color);
  background-color: var(--basicui-checkbox-background-color);
  outline: 0;
  cursor: pointer;
  border-radius: var(--basicui-checkbox-border-radius);
  display: inline-block;
  vertical-align: middle;
  /* position: static; */
  transition: 250ms border-color ease-in-out, 250ms background-color ease-in-out, 250ms color ease-in-out;
}

.basicui-checkbox__input:checked {
  background-color: var(--basicui-checkbox-background-color-checked);
  border-color: var(--basicui-checkbox-border-color-checked);
}

.basicui-checkbox__input:hover,
.basicui-checkbox__input:focus,
.basicui-checkbox__input:checked:hover,
.basicui-checkbox__input:checked:focus {
  background-color: var(--basicui-checkbox-background-color-hover);
  border-color: var(--basicui-checkbox-border-color-hover);
}

.basicui-checkbox__input:checked:after {
  content: "";
  display: block;
  position: relative;
  width: var(--basicui-checkbox-checkmark-width);
  height: var(--basicui-checkbox-checkmark-height);
  border-bottom: 1px solid var(--basicui-checkbox-checkmark-color);
  border-right: 1px solid var(--basicui-checkbox-checkmark-color);
  left: var(--basicui-checkbox-checkmark-offset-left);
  bottom: var(--basicui-checkbox-checkmark-offset-bottom);
  transform: rotate(40deg);
}

.basicui-checkbox__span {
  font-size: var(--basicui-checkbox-font-size);
  font-weight: var(--basicui-checkbox-font-weight);
  margin-left: var(--basicui-checkbox-label-offset);
}