
.basicui-checkbox {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.checkbox-input{
  outline: 0;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.checkbox-label{
  margin-left: 7px;
  font-size: 13px;
  font-family: system-ui;
}
.basicui-checkbox.tooltip .checkbox-input {
  accent-color: black;
}
.basicui-checkbox.error .checkbox-input{
  accent-color: #e53935; 
}