<label [for]="label">
  <input type="checkbox" [checked]="isChecked" (change)="onCheckboxChange($event)" /> {{label}}
</label>





























<!-- <div [ngClass]="['checkbox-container', containerClassName]">
  <div *ngIf="icon"
       class="checkbox-icon-container"
       [style.width.px]="iconContainerWidth">
      <svg-icon [name]="icon"
                [size]="iconSize">
      </svg-icon>
  </div>
  <div class="checkbox-background">
    <input 
        [type]="type"
        [checked]="isChecked"
        [disabled]="disabled"
        [indeterminate]="indeterminate"
        [ngClass]="['input', 'form-input']" 
        [style.padding-left.px]="icon ? iconContainerWidth : 20"
        [style.padding-right.px]="isShowClearButton ? iconContainerWidth : 10"/>
    <div>
        <label [for]="label" style="font-size: 18px; padding-left: 10px; color: #b4b4b4; ">{{label}}</label>     
    </div> 
  </div>
  <div *ngIf="isShowClearButton"
       class="checkbox-icon-container right"
       [style.width.px]="iconContainerWidth">
      <i nz-icon
         nzType="close"
         nzTheme="outline"
         (click)="clear()"></i>
  </div>
</div>
-->