
<button 
    [ngClass]="{
        'basicui-button': true,
        'basicui-button--theme-default': theme === 'default',
        'basicui-button--theme-primary': theme === 'primary',
        'basicui-button--variant-default': variant === 'default',
        'basicui-button--variant-fill': variant === 'fill',
        'basicui-button--variant-outline': variant === 'outline',
        'basicui-button--variant-transparent': variant === 'transparent',
        'basicui-button--loading': loading
      }"
    [type]="type"
    (click)="onClick && onClick()"
    (submit)="onSubmit && onSubmit()"
    (reset)="onReset && onReset()">
    <ng-container *ngIf="loading">{{label}}</ng-container>
    <ng-container *ngIf="!loading">{{label}}</ng-container>
</button>