@import '../styles/index.css';
$primary: #0052cc;
$success: #0b875b;
$danger: #e13c3c;
$warning: #f89c1c;
$info: #0fb9b1;
$secondary: #f4f5f7;
$jira-bg: rgb(222, 235, 255);

.btn {
  @apply text-btn inline-flex items-center justify-center h-8 align-middle leading-none whitespace-nowrap rounded-sm transition-all duration-100 appearance-none cursor-pointer select-none px-3;

  &.icon-only {
    @apply px-2;

    .with-padding {
      padding: 0;
    }
  }

  &.disabled {
    @apply opacity-50 cursor-default pointer-events-none;
  }

  &:focus,
  &:active {
    outline-color: #1890ff;
  }

  &.no-padding-left {
    padding-left: 0;
  }

  &.no-padding-right {
    padding-right: 0;
  }
}

@mixin buttonBackground($btn-variant, $background) {
  $background-dark: darken($background, 10%);
  $background-light: lighten($background, 10%);

  .btn-#{$btn-variant} {
    border: aliceblue;
    color: white;
    font-weight: 500;
    background: $background;
    padding: 10px;
    font-size: 14.5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    border-radius: 5px;
    vertical-align: middle;
  line-height: 1;
  white-space: nowrap;
  transition-property: all;
  transition-duration: 100ms;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

    &:disabled {
      cursor: not-allowed;
      background-color: lighten($background, 30%);
    }

    &:not(:disabled) {
      &:hover {
        background: $background-light;
      }
      &:active {
        background: $background-dark;
      }
      &.active {
        background: $background-dark !important;
      }
    }
  }
}
@include buttonBackground(primary, $primary);
@include buttonBackground(success, $success);

.btn-secondary {
  @apply text-textDark font-normal;
  background: $secondary;
  

  &:not(:disabled) {
    &:hover {
      @apply bg-backgroundLight;
    }

    &:active {
      @apply bg-backgroundLightPrimary;
      color: $primary;
    }
  }
}
.btn-secondary{
  border: aliceblue;
  font-weight: 500;
    background: #f4f5f7;
    padding: 10px;
    font-size: 14.5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    border-radius: 5px;
    vertical-align: middle;
    line-height: 1;
    white-space: nowrap;
    transition-property: all;
    transition-duration: 100ms;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.btn-empty {
  background: rgba(235, 236, 240, var(--bg-opacity));
  outline: none;
  @apply text-textDark;

  &:focus,
  &:active {
    outline: none;
  }

  &:not(:disabled) {
    &:hover {
      @apply bg-backgroundLight;
    }
    &:active {
      @apply bg-backgroundLightPrimary;
      color: $primary;
    }
    &.is-active {
      background-color: $jira-bg;
      @apply text-textDark;
    }
  }
}

.with-padding {
  @apply pl-2;
}

.is-active {
  @apply text-textLink bg-backgroundLightPrimary;
}
.btn-empty{
  border: aliceblue;
  font-weight: 500;
    background: rgba(235, 236, 240, var(--bg-opacity));
    padding: 10px;
    font-size: 14.5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    border-radius: 5px;
    vertical-align: middle;
    line-height: 1;
    white-space: nowrap;
    transition-property: all;
    transition-duration: 100ms;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}








.btn btn-primary{
  padding: 10px;
}


.btn-primary[_ngcontent-qxv-c49] {
  color: white;
  font-weight: 500;
  background: #0052cc;
  padding: 10px;
}


.btn[_ngcontent-hxx-c42] {
  font-size: 14.5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  vertical-align: middle;
  line-height: 1;
  white-space: nowrap;
  border-radius: 0.125rem;
  transition-property: all;
  transition-duration: 100ms;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.button, input, optgroup, select, textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}
.button, select {
  text-transform: none;
}
.button, input {
  overflow: visible;
}
::selection {
  color: #fff;
  background: #1890ff;
}

.btn-outline{
  border: 1px solid #000;
  font-weight: 500;
    background: rgba(235, 236, 240, var(--bg-opacity));
    padding: 10px;
    font-size: 14.5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    border-radius: 5px;
    vertical-align: middle;
    line-height: 1;
    white-space: nowrap;
    transition-property: all;
    transition-duration: 100ms;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.btn-outline {
  background: rgba(235, 236, 240, var(--bg-opacity));
  outline: none;
  @apply text-textDark;

  &:focus,
  &:active {
    outline: none;
  }

  &:not(:disabled) {
    &:hover {
      @apply bg-backgroundLight;
    }
    &:active {
      @apply bg-backgroundLightPrimary;
      color: $primary;
    }
    &.is-active {
      background-color: $jira-bg;
      @apply text-textDark;
    }
  }
}