<button 
    [type]="type"
    [ngClass]="{
        'basicui-button': true,
        'basicui-button--theme-default': theme === 'default',
        'basicui-button--theme-primary': theme === 'primary',
        'basicui-button--theme-danger': theme === 'danger',
        'basicui-button--variant-default': variant === 'default',
        'basicui-button--variant-fill': variant === 'fill',
        'basicui-button--variant-outline': variant === 'outline',
        'basicui-button--variant-transparent': variant === 'transparent',
        'basicui-button--loading': loading
      }"
    [disabled]="disabled"
    >

    <svg-icon *ngIf="!isWorking && icon"
        [name]="icon"
        [size]="iconSize">
    </svg-icon>
    <svg-icon *ngIf="isWorking"
        name="spin"
        class="spinner"
        [size]="iconSize">
    </svg-icon>
    <span #content
        [class.with-padding]="isWorking || icon">
        <ng-content></ng-content>
    </span>{{label}}
</button>