* {
    --basicui-checkbox-background-color: none;
}

.basicui-light .basicui-checkbox--theme-danger,
.basicui-light .basicui-radio--theme-danger {
    --basicui-checkbox-border-color: var(--theme-white-extended-500);
    --basicui-checkbox-checkmark-color: var(--theme-black-500);
    --basicui-checkbox-background-color-hover: var(--theme-danger-transparent-100);
    --basicui-checkbox-border-color-hover: var(--theme-danger-300);
    --basicui-checkbox-background-color-checked: var(--theme-danger-transparent-200);
    --basicui-checkbox-border-color-checked: var(--theme-danger-400);
}

.basicui-dark .basicui-checkbox--theme-danger,
.basicui-dark .basicui-radio--theme-danger {
    --basicui-checkbox-border-color: var(--theme-white-extended-500);
    --basicui-checkbox-checkmark-color: var(--theme-white-50);
    --basicui-checkbox-background-color-hover: var(--theme-danger-transparent-100);
    --basicui-checkbox-border-color-hover: var(--theme-danger-400);
    --basicui-checkbox-background-color-checked: var(--theme-danger-transparent-200);
    --basicui-checkbox-border-color-checked: var(--theme-danger-500);
}
