* {
    --basicui-checkbox-background-color: none;
}

.basicui-light .basicui-checkbox--theme-primary,
.basicui-light .basicui-radio--theme-primary {
    --basicui-checkbox-border-color: var(--theme-white-extended-500);
    --basicui-checkbox-checkmark-color: var(--theme-black-500);
    --basicui-checkbox-background-color-hover: var(--theme-primary-transparent-100);
    --basicui-checkbox-border-color-hover: var(--theme-primary-300);
    --basicui-checkbox-background-color-checked: var(--theme-primary-transparent-200);
    --basicui-checkbox-border-color-checked: var(--theme-primary-400);
}

.basicui-dark .basicui-checkbox--theme-primary,
.basicui-dark .basicui-radio--theme-primary {
    --basicui-checkbox-border-color: var(--theme-white-extended-500);
    --basicui-checkbox-checkmark-color: var(--theme-white-50);
    --basicui-checkbox-background-color-hover: var(--theme-primary-transparent-100);
    --basicui-checkbox-border-color-hover: var(--theme-primary-600);
    --basicui-checkbox-background-color-checked: var(--theme-primary-transparent-200);
    --basicui-checkbox-border-color-checked: var(--theme-primary-500);
}