* {
    --basicui-checkbox-background-color: none;
  }
  
  .basicui-light .basicui-checkbox--theme-warning,
  .basicui-light .basicui-radio--theme-warning {
    --basicui-checkbox-border-color: var(--theme-white-extended-500);
    --basicui-checkbox-checkmark-color: var(--theme-black-500);
    --basicui-checkbox-background-color-hover: var(
      --basicui-bg-warning-transparent
    );
    --basicui-checkbox-border-color-hover: var(--basicui-bg-warning-light);
    --basicui-checkbox-background-color-checked: var(
      --basicui-bg-warning-transparent-light
    );
    --basicui-checkbox-border-color-checked: var(--basicui-bg-warning);
  }
  
  .basicui-dark .basicui-checkbox--theme-warning,
  .basicui-dark .basicui-radio--theme-warning {
    --basicui-checkbox-border-color: var(--theme-white-extended-500);
    --basicui-checkbox-checkmark-color: var(--theme-white-50);
    --basicui-checkbox-background-color-hover: var(
      --basicui-bg-warning-transparent
    );
    --basicui-checkbox-border-color-hover: var(--basicui-bg-warning-dark);
    --basicui-checkbox-background-color-checked: var(
      --basicui-bg-warning-transparent-dark
    );
    --basicui-checkbox-border-color-checked: var(--basicui-bg-warning);
  }
  