<div class="basicui-modal">
  <div className="basicui-modal__overlay">
    <div [ngClass]="{'basicui-modal__base':true,
                 'basicui-modal__base--size-default':true,
                 'basicui-modal__base--placement-default':true}">
      <div [ngClass]="{'basicui-modal-header':true,
        'basicui-modal-header--show-border': true }">
        <div class="basicui-modal-header__heading">
          Lorem ipsum dolor sit
        </div>
        <button (click)="onClose()" class="basicui-modal-header__close">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path
              d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z">
            </path>
          </svg>
        </button>
      </div>
      <div class="basicui-modal-content">
        Praesent urna erat, pharetra vel est vitae, tincidunt viverra sapien. Nullam ac rutrum diam. Curabitur non augue
        justo. Morbi pulvinar convallis leo eu faucibus. Nullam eu ullamcorper nisl. Ut cursus sagittis elit at congue.
        Donec malesuada sem at condimentum ultrices. Ut elementum tincidunt ipsum quis condimentum. Mauris nec arcu
        vitae diam sollicitudin aliquet. Nunc sed euismod ante. Proin eros magna, lobortis ut varius finibus, dignissim
        eu purus. Praesent ornare rutrum turpis imperdiet fringilla.
      </div>
      <div [ngClass]="{'basicui-modal-footer':true,
  'basicui-modal-footer--show-border': true,
  'basicui-modal-footer--alignment-left':true }">
        <button (click)="onClose()" [ngClass]="{
    'basicui-button': true,
    'basicui-button--theme-primary': theme === 'primary',
    'basicui-button--variant-default': variant === 'default'}"
          style="background-color: #1492db; margin-right: 10px; outline: none; border: none; color: white;">Apply</button>
        <button (click)="onClose()" [ngClass]="{
    'basicui-button': true,
    'basicui-button--theme-default': theme === 'default',
    'basicui-button--variant-default': variant === 'default'}">Cancel</button>
      </div>
    </div>
  </div>
</div>