@import '../styles/index.css';

.basicui-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-items: center;
    z-index: 100;
}
.basicui-modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000060;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--basicui-modal-margin-y);
    padding-bottom: var(--basicui-modal-margin-y);
}

.basicui-modal-header{
    padding: 0 var(--basicui-modal-padding);
    display: flex;
    justify-content: space-between;
    height: var(--basicui-modal-header-height);
    align-items: center;
}
.basicui-modal-header .basicui-modal-header__heading {
    font-size: 16px;
    font-weight: 500;
}
.basicui-modal-header--show-border {
    border-bottom: 1px solid var(--theme-white-400);
}
::ng-deep .basicui-dark .basicui-modal-header {
    border-color: var(--theme-black-extended-400);  
}
.basicui-modal-header__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.basicui-modal-header__close svg {
    height: 16px;
    fill: var(--theme-white-100i);
    justify-content:flex-end;
}
::ng-deep .basicui-dark .basicui-modal-header__close svg {
    height: 16px;
    fill: var(--theme-black-100i) !important;
}
.basicui-modal-content{
    padding: var(--basicui-modal-padding) var(--basicui-modal-padding);
    height: 100%;
    max-height: calc(100vh - var(--basicui-modal-header-height)*2 - var(--basicui-modal-margin-y)*2);
    overflow-y: auto;
}
.basicui-modal-footer {
    padding: 0 var(--basicui-modal-padding);
    display: flex;
    justify-content: flex-end;
    min-height: var(--basicui-modal-header-height);
    align-items: center;
}
.basicui-modal-footer--show-border {
    border-top: 1px solid var(--theme-white-400);
}
::ng-deep .basicui-dark .basicui-modal-footer--show-border {
    border-color: var(--theme-black-extended-400);
}
.basicui-modal-footer * {
    margin-right: var(--basicui-action-spacing);
}
.basicui-modal-footer *:last-child {
    margin-right: 0px;
}

::ng-deep .basicui-dark .basicui-modal-footer {
    border-color: var(--theme-default-500);
    
}
.basicui-modal-footer--alignment-left {
    justify-content: flex-start;
}
.basicui-modal-footer--alignment-center {
    justify-content: center;
}
.basicui-modal__base {
    display: grid;
    grid-auto-flow: row;
    align-self: center;
    z-index: 102;
    top: 0; 
    left: 0; 
    background-color: var(--theme-white-50);
    border-radius: var(--basicui-modal-border-radius);
    width: 500px;
    max-width: 90vw;
}
::ng-deep .basicui-dark .basicui-modal__base {
    background-color: var(--theme-black-50);
}
.basicui-modal__base--size-small {
    width: 300px;
}
.basicui-modal__base--size-large {
    width: 800px;
}
.basicui-modal__base--size-xlarge {
    width: 1140px;
}
.basicui-modal__base--placement-top {
    align-self: flex-start;
}
.basicui-modal__base--placement-bottom {
    align-self: flex-end;
}
