<div>
    <button
    [ngClass] = "{
      'basicui-button': true,
      'basicui-button--theme-default': true,
      'basicui-button--variant-default':true,
      'basicui-button--theme-dark': true
    }"
    [type]="type"
     (click)="openModal()">Open Modal</button>
    <app-modal *ngIf="isOpen" (closeModal)="closeModal()" class="basicui-modal-base" style="position: fixed; top: 0; left: 0; height: 100%; width: 100%; background-color: #00000060; padding-top: 20px; padding-bottom: 20px; align-items: center; justify-content: center; display: flex; overflow: hidden;">
      Praesent urna erat, pharetra vel est vitae, tincidunt viverra sapien. Nullam ac rutrum diam. Curabitur non augue justo. Morbi pulvinar convallis leo eu faucibus. Nullam eu ullamcorper nisl. Ut cursus sagittis elit at congue. Donec malesuada sem at condimentum ultrices. Ut elementum tincidunt ipsum quis condimentum. Mauris nec arcu vitae diam sollicitudin aliquet. Nunc sed euismod ante. Proin eros magna, lobortis ut varius finibus, dignissim eu purus. Praesent ornare rutrum turpis imperdiet fringilla.
    </app-modal>
  </div>