@import '~material-design-icons/iconfont/material-icons.css';
.material-icons{
    font-size: 15px;
}
button{
    height: 32px;
    width: 32px;
    border: none;
    border: 1px solid #e6e7e7;
    border-radius: 50%;
    background-color: #e6e7e7;
    align-items: center;
    cursor: pointer;
}
button:hover{
    background-color: #c3c3c3;
}

.default-outline-variant{
    border: 1px solid #dadada;
    background-color:white;
    border-radius: 2px;
    height: 32px;
    width: 32px;
}
.default-outline-variant:hover{
    background-color:white;
    border: 1px solid #a1a1a1;
}
.default-fill-variant{
    border: 1px solid #dadada;
    background-color:white;
    border-radius: 2px;
    height: 32px;
    width: 32px;
}
.default-fill-variant:hover{
    background-color:#d1d1d1;
    border: 1px solid #d1d1d1;
}
.default-transparent-variant{
    height: 32px;
    width: 32px;
    border: 1px solid #000;
    border-radius: 2px;
    background-color: #e6e7e7;
}
.default-transparent-variant:hover{
    background-color: #c3c3c3;
}
.primary{
    background-color: #1492db;
    border: 1px solid #1492db;
    height: 32px;
    width: 32px;
    border-radius: 2px;
    color: white;
}
.primary:hover{
    background-color: #0669ac;
}
.primary-outline-variant{
    background-color: #ffffff;
    border: 1px solid #5cbcf4;
    border-radius: 2px;
}
.primary-outline-variant:hover{
    background-color: #ffffff;
    border: 1px solid #0480d2;
}
.primary-fill-variant{
    background-color: #ffffff;
    border: 1px solid #0480d2;
    border-radius: 2px;
}
.primary-fill-variant:hover{
    background-color: #0588df;
    border: 1px solid #0588df;
    color: white;
}
.primary-transparent-variant{
    background-color: #d9eaf8;
    border: 1px solid #0480d2;
    border-radius: 2px;
}
.primary-transparent-variant:hover{
    border: 1px solid #0480d2;
    background-color: #c9e6fc;
}