<!-- <button>
    <i class="material-icons">check</i>
</button> -->

<button [ngClass]="{'primary': isPrimary,
        'default-outline-variant': isDefaultoutlinevariant, 
        'default-fill-variant': isDefaultfillvariant,
        'default-transparent-variant': isDefaulttransparentvariant,
        'primary-outline-variant': isPrimaryoutlinevariant, 
        'primary-fill-variant': isPrimaryfillvariant,
        'primary-transparent-variant': isPrimarytransparentvariant}">
    <i class="material-icons">check</i>
  </button>