label {
    display: block;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
    color: #726e6ea3;
    
}
.textarea-input:hover{
    border: 1px solid #c3e5f4;
    background-color: #f1f8fe;
}
.textarea-input{
    font-family: 'Roboto', sans-serif;
    resize: vertical;
    width: 100%;
    padding: 6px;
    line-height: 1.5;
    height: 55px;
    font-size: 12px;
    font-weight: 400;
    text-overflow: ellipsis;
    outline: none;
    border: 1px solid #dad8d8;
    background-color: #f1f0f08a;
    border-radius: 2px;
    display: flex;
    align-items: center;
    transition: 250ms border-color ease-in-out, 250ms background-color ease-in-out, 250ms color ease-in-out;
}

  .error-message {
    color: #fc374bc4;
    font-size: 10px;
    margin-top: 5px;
  }
  .success-message{
    color: #14db5a;
    font-size: 10px;
    margin-top: 5px;
  }
  .warning-message{
    color: #db9214;
    font-size: 10px;
    margin-top: 5px;
  }
  .tooltip-message{
    color: #908e8e;
    font-size: 10px;
    margin-top: 5px;
  }